<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<add name="cnn" connectionString="Data Source=35.209.94.8; Initial Catalog =SPFastex; User ID=sa; Password=TEST$2020;"/>
</connectionStrings>
</configuration>